@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
html {
  background: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: normal;
}

body {
  padding: 0;
  margin: auto;
  width: 0;
  height: 1rem;
  font-family: 'Josefin Slab', serif,"游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  color: #38332c;
  line-height: 1.9em;
  letter-spacing: 0.2em;
  background: linear-gradient(to right, #ffebf4 0%, #eff8ff 100%);
  position: absolute;
  top: 0;
  bottom: 0;
}

h1 {
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 0.8em;
  margin: .5em;
}

a {
  color: #5fb8ac;
}

#main {
  z-index: -1;
  height: 800px;
  width: 100%;
  overflow: hidden;
}

#main ul > li {
  width: 100%;
  min-height: 800px;
  position: fixed;
  z-index: -2;
}

.wrap {
  opacity: 0;
}

.layer {
  width: 100%;
  min-height: 800px;
  position: fixed;
  z-index: -1;
}

.layer-ribbon {
  background: url(../img/ribbon.png) 0 100% repeat-x;
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: move linear 20s infinite both;
          animation: move linear 20s infinite both;
}

.layer-bg {
  background: url("../img/bg.png") repeat;
  -webkit-animation: move linear 20s infinite both;
          animation: move linear 20s infinite both;
  animation: move linear 20s infinite both;
}

.layer-horse-01 {
  background: url("../img/layer01.png") no-repeat;
  background-position: right top;
  -webkit-animation: horses-animation 3s linear infinite;
          animation: horses-animation 3s linear infinite;
}

.layer-horse-02 {
  background: url("../img/layer02.png") no-repeat;
  background-position: center top;
  -webkit-animation: horses-animation 4s linear infinite;
          animation: horses-animation 4s linear infinite;
}

.layer-horse-03 {
  background: url("../img/layer03.png") no-repeat;
  background-position: left top;
  -webkit-animation: horses-animation 3s linear infinite;
          animation: horses-animation 3s linear infinite;
}

.line {
  background: url("../img/line.png") no-repeat bottom center;
}

.overlay {
  background-image: url("../img/overlay.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#about {
  padding: 1em;
  text-align: center;
  background-color: #f9f9f9;
}

#about img {
  width: 200px;
  border-radius: 100%;
}

footer {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

footer ul.social-icons {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

footer ul.social-icons li {
  display: inline-block;
  margin: 0 12px;
}

footer ul.social-icons li > a {
  font-size: 2rem;
}

@-webkit-keyframes move {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes move {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@-webkit-keyframes horses-animation {
  50% {
    margin-top: -50px;
  }
}

@keyframes horses-animation {
  50% {
    margin-top: -50px;
  }
}

.wave {
  background: transparent repeat-x;
  position: absolute;
  width: 300%;
  height: 160px;
  bottom: -15%;
  left: -100%;
}

.wave:after {
  background: url(../img/g.png) repeat-x;
  position: absolute;
  display: block;
  content: "";
  height: 250px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.wave.depth-30 {
  -webkit-animation: wave 7.11111s 0.1s infinite linear;
          animation: wave 7.11111s 0.1s infinite linear;
  bottom: -4%;
}

.wave.depth-30:after {
  height: 250px;
}

.wave.depth-40 {
  -webkit-animation: wave 6.66667s 0.1s infinite linear;
          animation: wave 6.66667s 0.1s infinite linear;
  bottom: -6%;
}

.wave.depth-40:after {
  height: 250px;
}

.wave.depth-50 {
  -webkit-animation: wave 6.22222s 0.1s infinite linear;
          animation: wave 6.22222s 0.1s infinite linear;
  bottom: -10%;
}

.wave.depth-50:after {
  height: 250px;
}

.wave.depth-60 {
  -webkit-animation: wave 5.77778s 0.1s infinite linear;
          animation: wave 5.77778s 0.1s infinite linear;
  bottom: -14%;
}

.wave.depth-60:after {
  height: 250px;
}

.wave.depth-70 {
  -webkit-animation: wave 5.33333s 0.1s infinite linear;
          animation: wave 5.33333s 0.1s infinite linear;
  bottom: -18%;
}

.wave.depth-70:after {
  height: 260px;
}

.wave.depth-80 {
  -webkit-animation: wave 4.88889s 0.1s infinite linear;
          animation: wave 4.88889s 0.1s infinite linear;
  bottom: -22%;
}

.wave.depth-80:after {
  height: 260px;
}

.wave.depth-100 {
  -webkit-animation: wave 4s 0.1s infinite linear;
          animation: wave 4s 0.1s infinite linear;
  bottom: -26%;
}

.wave.depth-100:after {
  height: 260px;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@media screen and (max-width: 480px) {
  .layer-horse-02, .layer-horse-03, .line {
    display: none !important;
  }
  .layer-horse-01 {
    background: url("../img/sp_layer01.png") no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
  }
  .layer {
    min-height: 580px;
  }
  .wave {
    background: transparent repeat-x;
    position: absolute;
    width: 250%;
    height: 100px;
    bottom: -15%;
    left: -100%;
  }
  .wave:after {
    position: absolute;
    display: block;
    content: "";
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
